<script type="text/javascript" src="/view/resource/js/jquery.validate.js"></script>
<script type="text/javascript" src="/view/resource/js/messages_zh.js"></script>
<script type="text/javascript">
 $(function(){
     $("#myform").validate();
 });
</script>
<div class="panel panel-default">
	<div class="panel-heading container-fluid">
		<div class="row">
			<div class="col-md-4">添加缓存配置：</div>
		 </div>
	</div>
   <div class="panel-body container-fluid">
   		<form id="form">
   		<div class="row">
			<div class="col-md-2">
	   			<label for="id" >编码：</label>
	   		</div>
			<div class="col-md-10">
			  	<input type="text" class="form-control" id="id" name="id" required placeholder="编码...">
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
	   			<label for="name" >名称：</label>
	   		</div>
			<div class="col-md-10">
			  	<input type="text" class="form-control" id="name" name="name" required placeholder="名称...">
			</div>
		</div>
   		
		<div class="row">
			<div class="col-md-2">
	   			<label for="prefix" >前缀：</label>
	   		</div>
			<div class="col-md-10">
       			<input id="prefix" name="prefix" class="form-control"  required placeholder="前缀...">
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
	   			<label for="duration" >时长：</label>
	   		</div>
			<div class="col-md-10">
       			<input id="duration" name="duration" class="form-control"  placeholder="时长...">
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
	   			<label for="duration" >描述：</label>
	   		</div>
			<div class="col-md-10">
       			<textarea id="desc" name="desc" class="form-control" rows="3" placeholder="描述..."></textarea>
			</div>
		</div>
		
	   <div class="row">
			<div class="col-md-4 col-md-offset-6">
	   			<button type="button" class="btn btn-default submit">提交</button>
	   			<button type="button" class="btn btn-default cancel">取消</button>
	   		</div>
		</div>
		</form>
   </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	
	$("#form").validate();
	
	$("form").on("click", "button.submit",function(event){
		if($("#form").valid()){
			save();
		}
	});
	
	$("form").on("click", "button.cancel",function(event){
		index();
	});
});

</script>
